<%- include('partials/nav.ejs') %>
  
<body>
  <h1 id="welcome_title">Welcome to CSUMB Eats</h1>
<br>
<img src="img/foof.jpg" width=300px hieght=300px>

  
<h4>Before picking your product, see what it's like outside... So you'll know what you need.</h4>

  <input id = "city" type = "text" name = "input" placeholder="My Location">

 <button id = "btn">Search</button>

<br>
<br>
      <div id="container">
        <h3 id = "temp"></h3>	
      </div>
    </div>
    </div>

  
<script src="/js/home.js">
</script>
</body>
</html>